.contact tr{
  height: 7rem;
}
.contact th{
  width: 150px;
}
.contact td{
  width: 480px;
  padding-left: 1rem;
}
.contact{
  border-collapse: collapse;
}
.name{
  width:480px;
}
.toiawase{
  width:480px;
}
.submit{
  width: 100px;
  height: 50px;
  font-size: 3rem;
  background-color: blue;
  color: white;
  position:relative;
  top: 0px;
  left:300px;
}

.submit:hover {
  opacity: 0.6;
}
